@import "src/scss/base/variables";
@import "src/scss/base/mixins";
#icon-4 {
  background-color: #03579A;
  .all {
    @include trans(all $transition-time-long);
  }
  .fill {
    @include trans(fill $transition-time-long);
  }
  .stroke {
    @include trans(stroke $transition-time-long);
  }
  .a {
    fill: #2071b3;
    opacity: 0.5;
  }

  .a, .e, .f {
    fill-rule: evenodd;
  }

  .b, .c, .d, .g {
    fill: none;
    stroke-miterlimit: 22.93;
  }

  .b, .c {
    stroke: #003a69;
  }

  .b, .g {
    stroke-linecap: round;
  }

  .b, .c, .d {
    stroke-width: 0.96px;
  }

  .d, .g {
    stroke: #1989d0;
  }

  .e {
    fill: #003a69;
  }

  .f {
    fill: #1989d0;
    transform-origin: 96.6% 85.3%;
  }

  .cross {
    fill: #1989d0;
    transform-origin: 96.6% 85.3%;
    transform: scale(0.4);
  }

  .g {
    //stroke-width: 18px;
    //stroke-dasharray: 15px;
    stroke-width: 2.4px;
  }
  .arcs {
    transform-origin: 50% 50%;
    display: none;
    .dark {

    }
    //transform: scale(0.8);
  }
  .comp {
    .display {
      transition-duration: 1.2s;
      stroke-dasharray: 168px;
      &-1 {
        stroke-dashoffset: -168px;
      }
      &-2 {
        stroke-dashoffset: 168px;
      }
    }
    .keyboard {
      transition-duration: .7s;
      stroke-dasharray: 72px;
      transition-delay: 0s;
      &-1 {
        stroke-dashoffset: 72px;
      }
      &-2 {
        stroke-dashoffset: -72px;
      }
    }
  }
}

#icon-4:hover {
  .border {
    .b, .c {
      stroke: $black;
    }
  }
  .f {
    fill: $yellow;
    transform: scale(0.1);
  }
  .cross {
    transform: scale(1);
    fill: $yellow;
  }
  .dots {
    .white {
      fill: #fff;
    }
    .black {
      fill: $black;
    }
  }
  .comp {
    .display {
      &-1 {
        stroke-dashoffset: -68px;
      }
      &-2 {
        stroke-dashoffset: 100px;
      }
    }
    .keyboard {
      transition-duration: 1.1s;
      transition-delay: 0.2s;
      &-1 {
        stroke-dashoffset: 46px;
      }
      &-2 {
        stroke-dashoffset: -26px;
      }
    }
  }
}
