@import "src/scss/base/variables";
@import "src/scss/base/mixins";
#icon-5 {
  background-color: #03579A;

  .all {
    @include trans(all $transition-time-long);
  }

  .fill {
    @include trans(fill $transition-time-long);
  }

  .stroke {
    @include trans(stroke $transition-time-long);
  }
  .a {
    fill: #2071b3;
    opacity: 0.5;
  }

  .a, .d, .g {
    fill-rule: evenodd;
  }

  .b, .c, .e {
    fill: none;
    stroke-miterlimit: 22.93;
  }

  .b, .e {
    stroke: #003a69;
    stroke-width: 0.96px;
    @include trans(stroke $transition-time-long);
  }

  .b, .c {
    stroke-linecap: round;
  }

  .c {
    stroke: #1989d0;
    stroke-width: 2.4px;
  }

  .d, .h {
    fill: #1989d0;
    @include trans(fill $transition-time-long);
  }

  .f, .g {
    fill: #133e73;
  }
  .circle {
    transform-origin: 49% 49%;
    animation: rotate 3s linear infinite forwards paused;
  }
  .signal {
    .s1 {
      r: 0px;
      //@include ;
      //animation: signalOut 2.5s linear;
    }
    .s2 {
      r: 0px;
      //animation: signalOut 2.5s linear;
    }
  }
  .dot {
    transform: translate3d(8px, 0, 0) scale(1);
    transform-origin: 3% 11%;
  }
  .cross-1 {
    transform-origin: 7% 11%;
    transform: scale(0.3);
  }
  .cross-2 {
    transform: scale(1, 0);
    transform-origin: 0 82.5%;
  }
}

#icon-5:hover {
  .e, .b {
    stroke: $black;
  }
  .circle {
    animation-play-state: running;
    .c {
      stroke: $yellow;
    }
  }
  .z {
    fill: $yellow;
  }
  .dot {
    transform: translate3d(8px, 0, 0) scale(0.5);
  }
  .cross-1 {
    transform: scale(1);
    rect {
      fill: $yellow;
    }
  }
  .cross-2 {
    transform: scale(1, 1);
    fill: $yellow;
  }
  .bot-part {
    fill: #fff;
  }
  .signal {
    .s1 {
      animation: radio 2.5s linear infinite forwards;
    }
    .s2 {
      animation: radio 2.5s linear 1.25s infinite forwards;
    }
  }

}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes radio {
  0% {
    r: 0px;
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    r: 16px;
    opacity: 0;
  }
}

