*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #03579A;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
  .icon {
    //background-color: #03579A;
    width: 50%;
    flex-shrink: 0;
    padding: 20px;
  }
}
