
$small: 576px;
$middle: 768px;
$tablet: 992px;
$desktop: 1200px;
$desktop-xl: 1400px;
$large: 1600px;

$imgBase: '../images/';

$transition-time: .3s;
$transition-time-long: 0.6s;

$yellow: #fcaf2e;
$black: #001c33;
$white: #fefefe;
